/* 
    Found this boilerplate code online and I liked some of the properties
    Especially font-size: 62.5%; which allows you to use rem a lot easier.
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
}

/* END BOILERPLATE CODE*/

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #F9FAF8;
}

.header {
    color: #F9FAF8;
}